* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    background: rgb(97, 97, 97);
}

main {
    width: 100%;
    height: 100%;
    padding: 40px;
    background: rgb(39, 39, 39);
    border-radius: 15px;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.logo img{
    max-width: 80px;
}

.navigation ul{
    display: flex;
    justify-content: space-between;
}

.navigation ul li a {
    margin-left: 64px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 5o0;
    color: white;
}

.navigation ul li a:hover {
    color: gold;
}

section.conteudo {
    margin: 60px 0;
}

.conteudo h1 a{
    display: inline-block;
    margin-bottom: 32px;
    color: white;
    font-size: 3em;
}

.conteudo h1 a:hover {
    color: gold;
    transition: 0.3s ease-in;
}

.conteudo p {
    margin-bottom: 18px;
    color: white;
}

a.btn {
    display: inline-block;
    padding: 10px 40px;
    color: white;
    background-color: red;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}

.conteudo a:hover {
    transform: translateY(-5px);
}

footer {
    width: 100%;
    height: 40px;
}

.icon a {
    width: 40px;
    height: 40px;
    margin: 0 8px;
    display: inline-block;
    background: black;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.icon a:hover {
    transform: translateY(-5px);
    background: red;
}

.icon a img{
    width: 40px;
    border-radius: 50%;
    filter: invert(1);
}